
body {
  margin: 0; 
  padding: 0;
}


.htodos{
  color: grey;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 100px;
}

.container{
  display:flex;
  justify-content: center; /* horizontal */
    align-items: center;  /* vertically */

}
.Input-todo{
  padding:10px 400px 10px 10px;
  border-radius: 20px;
}